<div style="margin-top: 4%;">
    <p class="photo-text-right">MINI LEATHER GOODS</p>
    <div class="photos-row">
        <div class="photos-container" style="background-color: #f6f3ef;">
            <img src="assets/Photos/Catalog/Product_is_lost.png" class="lost-photo">
            <p class="lost-text">Товар відсутній</p>
        </div>
        <div (window:scroll)="onWindowScroll($event)" class="photos-container">
            <div [style.transform]="'translateY(' + offsetY + 'px)'" style="position: relative; bottom: 1000px;">
                <img src="assets/Photos/Catalog/Hand.png" class="hand-photo">
            </div>
        </div>
    </div>
    <div class="photos-row">
        <div class="photos-container">
            <img src="assets/Photos/Catalog/Pants.png" class="hand-photo">
        </div>
        <div class="photos-container" style="background-color: #f6f3ef;">
            <img src="assets/Photos/Catalog/Product_is_lost.png" class="lost-photo">
            <p class="lost-text">Товар відсутній</p>
        </div>
    </div>
    <p class="photo-text-left">LEATHER BELTS</p>
    <div class="description">
        <div class="description-container">
            <p class="main-text-header">Family Owned</p>
            <a class="link">Read our story</a>
            <div class="description-photo-container">
                <img src="assets/Photos/Catalog/Bag.png" style="width: 140%; height: auto; object-fit: cover;">
            </div>
            <div class="bottom-stick">
            </div>
            <p class="main-text-class">BRAND</p>
        </div>
        <div class="description-container">
            <p class="main-text-header">Hand Crafted</p>
            <a class="link">About our leather</a>
            <div class="description-photo-container">  
                <img src="assets/Photos/Catalog/Work.png" class="" style="width: 150%; height: auto; object-fit: cover;">
            </div>
            <div>
            </div>
            <p class="main-text-class">PRODUCTS</p>
        </div>
        <div class="description-container">
            <p class="main-text-header" style="position: relative; top: 160px; right: 9px;">Created in the</p>
            <a class="link">Learn our process</a>
            <div class="description-photo-container">
                <img src="assets/Photos/Catalog/Wallet.png" style="width: 140%; height: auto; object-fit: cover;">
            </div>
            <div>
            </div>
            <p class="main-text-class">USA</p>
        </div>
    </div>
</div>
