.input-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  max-width: 230px;
}

.container {
  display: flex;
  padding: 0%;
}

.item {
  flex: 1;
}

.search-icon {
  position: absolute;
  height: 30px;
  width: 35px;
}

.form-control {
  padding-left: 40px;
  border: none;
  box-shadow: none;
  border-radius: 0;
  color: #bc4c2a;
}

.custom-border {
  border-bottom: 1px solid #bc4c2a;
}

.custom-border:focus {
  border-color: #bc4c2a;
  box-shadow: none;
  border-radius: 0;
}

.custom-border:hover {
  border-bottom: 2px solid #bc4c2a;
}