<div class="row">
	<div class="col" style="padding: 0%;">
		<div ngbDropdown class="d-inline-block">
			<button type="button" id="dropdownBasic1" ngbDropdownToggle class="account-photo">
				<img src="assets/Photos/default-avatar.png" alt="Account" class="img-class">
				<span class="custom-arrow"></span>
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<div class="dropdown-options">
					<button ngbDropdownItem class="dropdown-options-item">My Subscriptions</button>
					<button ngbDropdownItem class="dropdown-options-item">My Orders</button>
					<button ngbDropdownItem class="dropdown-options-item">My Addresses</button>
					<button ngbDropdownItem class="dropdown-options-item">My Wallet</button>
					<button ngbDropdownItem class="dropdown-options-item">My Account</button>
				</div>
				<button ngbDropdownItem class="dropdown-options-item">Log out</button>
			</div>
		</div>
	</div>
</div>