<div class="main-container">
    <div class="main-style">
      <h4 class="main-text">BEST SELLERS</h4>
      <div class="main-text-class">
        <span></span>
      </div>
    </div>
  
    <div class="carousel-container">
      <button (click)="showPrevSlide()" class="carousel-control-prev">
        <img src="assets/Photos/Arrow.png" class="controls">
      </button>
      <div class="carousel-items">
        <div *ngFor="let item of items; let i = index; trackBy: trackByFn;" [@slideAnimation]="currentSlideIndex" (@slideAnimation.done)="onAnimationEnd($event)" class="item">
          <div class="animation-class">
            <div class="item-photo-container">
              <img [src]="item.image" alt="{{ item.title }}" class="item-photo">
            </div>
            <p class="product">{{ item.title }}</p>
            <p class="price">{{ item.price }}</p>
          </div>
        </div>
      </div>
      <button (click)="showNextSlide()" class="carousel-control-next">
        <img src="assets/Photos/Arrow_2.png" class="controls">
      </button>
    </div>
  
    <div class="main-button-class">
      <button class="button-class">
        Shop All Bags
      </button>
    </div>
  </div>
  