<div (window:scroll)="onScroll($event)" [@slideAnimation]="currentSlideIndex" [ngClass]="{'hidden': isNavbarHidden}" class="nav-class">
    <app-nav></app-nav>
</div>

<div style="height: 10vw;"></div>

<div class="main-photo-class">
    <app-main-photo></app-main-photo>
</div>
<div class="best-sellers">
    <app-best-sellers></app-best-sellers>
</div>
<div class="catalog">
    <app-catalog></app-catalog>
</div>
<app-instagram-redirect class="instagram-redirect"></app-instagram-redirect>
<div class="footer">
    <app-footer class="footer"></app-footer>
</div>
