.nav-class{
    min-height: 20vh;
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    height: 23%;
    z-index: 5;
    opacity: 1;
}

.main-photo-class {
    z-index: 1;
    width: 100%;
} 

.best-sellers {
    z-index: 4;
}

.catalog {
    z-index: 4;
}

.hidden {
    opacity: 0;
}
