@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

.parallax-container {
    position: relative;
    overflow: hidden;
}

.background-image {
    position: relative;
    filter: brightness(71%);
    width: 100%;
    z-index: 1;
}

.main-text {
    position: absolute;
    top: 54%;
    left: 36%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 9px;
    color: white;
    text-align: center;
    z-index: 2;
}

.button-class {
    position: absolute;
    top: 66%;
    left: 41%;
    background: none;
    color: white;
    font-weight: 300;
    width: 270px;
    height: 60px;
    border: 1px solid white;
    transition: background 0.4s ease, color 0.4s ease;
    z-index: 2;
}

.button-class:hover {
    background: white;
    color: #bc4c2a;
    z-index: 2;
}

.photo-container {
    overflow: hidden;
}