@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

.parallax-container {
    position: relative;
    overflow: hidden;
}

.background-image {
    position: relative;
    filter: brightness(71%);
    width: 100vw;
    z-index: 1;
}

.main-text {
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2.5vw;
    letter-spacing: 0.7vw;
    color: white;
    top: 36%;
    left: 35%;
    z-index: 3;
}

.button-class {
    position: absolute;
    top: 55%;
    left: 41%;
    background: none;
    color: white;
    font-weight: 300;
    font-size: 1.1vw;
    width: 17vw;
    height: 4vw;
    border: 1px solid white;
    transition: background 0.4s ease, color 0.4s ease;
    z-index: 2;
}

.button-class:hover {
    background: white;
    color: #bc4c2a;
    z-index: 2;
}

.photo-container {
    overflow: hidden;
    height: 100% !important;
}

@media (max-width: 500px) { 
    .background-image {
        position: relative;
        filter: brightness(71%);
        width: 250vw;
        left: -75vw;
        z-index: 1;
    }

    .button-class {
        position: absolute;
        top: 40%;
        left: 30%;
        font-weight: 300;
        font-size: 3vw;
        width: 40vw;
        height: 10vw;
        border: 1px solid white;
        transition: background 0.4s ease, color 0.4s ease;
        z-index: 2;
    }

    .main-text {
        top: 30%;
        left: 22%;
        font-size: 6vw;
    }
}